extends ../layout

block links
    link(rel='stylesheet', href='/css/auth.css')    
    
block content
    div#kw-page-title Kwota.io | Sign in
    div#kw-form-host
        div#kw-form-box
            div#kw-form-title Sign in with an existing account.
            - if (error != null) {
                div.alert.alert-error.alert-dismissible(role="alert")
                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                        span(aria-hidden="true") &times;
                    | ${error}
            - }        
            form(action="/sign/in", method="post")
                div.form-group
                    label(for="email") Email            
                    input#email.form-control(type="text", name="email")
                div.form-group
                    label(for="password") Password            
                    input#password.form-control(type="password", name="password")
                button.btn.btn-default(type="submit") Sign in
            div#kw-or-section
                small or 
                a(href="/signup") Sign up for free
        br
        a(href="/") &#171; Home                
        