extends ../layout

block links
    link(rel='stylesheet', href='/css/auth.css')    
    
block content
    div#kw-page-title Kwota.io | Sign up
    div#kw-form-host
        div#kw-form-box
            div#kw-form-title Create a new account.
            - if (typeof error != "undefined") {
                div.alert.alert-danger.alert-dismissible(role="alert")
                    button.close(type="button", data-dismiss="alert", aria-label="Close")
                        span(aria-hidden="true") &times;
                    | #{error}
            - }                    
            form(action="/sign/up", method="post")
                div.form-group
                    label(for="email") Email            
                    input#email.form-control(type="text", name="email", placeholder="e.g. success@kwota.io")
                div.form-group
                    label(for="password") Password            
                    input#password.form-control(type="password", name="password", placeholder="e.g. ********")                            
                button.btn.btn-default(type="submit") Sign up for free                
            div#kw-or-section
                small or 
                a(href="/sign/in") Sign in
        br
        a(href="/") &#171; Home