extends ../layout

block content
    div.container
        h1 Create System
        form(action="/systems/create", method="post")
            div.form-group
                label(for="name") Name           
                input#name.form-control(type="text", name="name")
            div.form-group
                label(for="purpose") Purpose
                input#purpose.form-control(type="text", name="purpose")                
            button.btn.btn-default(type="submit") Create
