<script id="quotasView" type="text/html">    
    <div class="panel panel-default">    
        <div class="panel-heading">
            Open Quotas        
        </div>                            
        <div class="list-group" data-bind="source: openQuotas" data-template="openQuotaView">            
        </div>                            
    </div>                
    <div class="panel panel-success">    
        <div class="panel-heading">
            Filled Quotas
        </div>
        <div class="list-group" data-bind="source: filledQuotas" data-template="filledQuotaView">            
        </div>                            
    </div>            
</script>