extends layout

block content
    div.row
        // div.col-lg-3.col-md-4
        //     div.panel.panel-default
        //         ul.nav.nav-pills.nav-stacked
        //             li.active
        //                 a(href="/") All Systems
        //             for system in systems
        //                 li
        //                     a(href="/?system=" + system._id)=system.name
        //     div.panel.panel-default         
        //         ul.nav.nav-pills.nav-stacked               
        //             li
        //                 a(href="/systems/create") Create System            
        //             li
        //                 a(href="/systems") Manage Systems
        //             li                
        //                 a(href="/quotas/create") Create Quota
        div.col-lg-3.col-md-4  
            ul.nav.nav-pills.nav-stacked
                li.active
                    a(href='/') My quotas
                li
                    a(href='/quotas/create') Create a new quota
                li
                    a(href='/systems') My systems                    
                li
                    a(href='/systems/create') Create a new system
        div.col-lg-9.col-md-8             
            div.panel.panel-default
                div.panel-heading Open Quotas
                div.list-group
                    div.list-group-item.clearfix
                        div.pull-left Write a blog post at least 3 times per week
                        div.pull-right
                            button.btn.btn-default.btn-xs
                                span.glyphicon.glyphicon-ok                                                                                                                       
                    div.list-group-item Fast for at least 24 hours at least 2 times per week
                        div.pull-right
                            button.btn.btn-default.btn-xs
                                span.glyphicon.glyphicon-ok                
                    div.list-group-item Do YAYOG excercises at least 4 times per week
                        div.pull-right
                            button.btn.btn-default.btn-xs
                                span.glyphicon.glyphicon-ok                
                    div.list-group-item Run at least 1.5 miles 3 times per week
                        div.pull-right
                            button.btn.btn-default.btn-xs
                                span.glyphicon.glyphicon-ok            
                                    
            div.panel.panel-success
                div.panel-heading Filled Quotas
                div.list-group
                    div.list-group-item.clearfix
                        div.pull-left Write a blog post at least 3 times per week
                        div.pull-right
                            button.btn.btn-default.btn-xs
                                span.glyphicon.glyphicon-repeat
                
                
                //     for quota in quotas
                //         li.list-group-item I must #{quota.action} at least #{quota.instances} time(s) every #{quota.periodMultiplier} #{quota.timeFrame}(s)
                // a.list-group-item(href="/quotas/create") Create a new quota...