extends layout

block content
    div.container
        h1 Kwota.io
        div
            a(href="/systems") My Systems
            br
            a(href="/systems/create") New System
            br
