extends layout

block content
    div.container
        h1 Kwota.io
        div                    
            button.btn.btn-primary(onclick="window.location='/signup'") Sign up for free
            br
            small or 
            a(href="/signin") Sign in
