extends layout

block links
    link(rel='stylesheet', href='/css/index.css')    
    
block content    
    div#kw-title-section          
        div#kw-title Welcome to Kwota.io
        div#kw-subtitle
            | Make significant, positive changes in your life
            br
            | using the power of micro-quotas.
        div#kw-signup                                           
            button.btn.btn-primary#kw-signup-btn(onclick="window.location='/sign/up'") Sign up for free
        div#kw-signin
            small or 
            a(href="/sign/in") Sign in
