extends ../layout

block content
    div.container
        h1 Create Quota
        form(action="/quotas/create", method="post").form-inline
            | As part of my
            br
            select.form-control(name="systemId")
                for system in systems
                    option(value="#{system._id}")=system.name
            br                                        
            | system, I must
            br
            textarea.form-control(name="action")
            br
            | at least
            br
            input.form-control(type="number", name="quantity")
            br
            | time(s) every
            br
            input.form-control(type="number", name="periodMultiplier", value="1")
            select.form-control(name="timeFrame")
                option(value="day") day(s)
                option(value="week") week(s)
                option(value="month") month(s)
                option(value="year") year(s)            
            br
            br
            button(type="submit").btn.btn-primary Create